<!-- Header -->
<header>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-xl-4 head-col topleft_logo">
            <div class="dav-logo ml-md-3">
                <a href="/Home.html">
                    <img src="/assets/images/Dav-Logo1_.png" style="max-width: 95%;">
                </a>
                <ul class="txt-davLogo">
                    <li>
                        <h4>D.A.V. Public School</h4>
                    </li>
                    <li>
                        <span><b>61, Diamond Harbour Road, Kolkata - 700038.</b></span>
                    </li>
                    <li>
                        <span><b>Email - davcal61@yahoo.co.in</b></span>
                    </li>
                    <li>
                        <p class="m-0">
                            <span style="color:#e83421;font-weight:bold;">Affiliation No.-</span> <span style="font-weight: bold;color: #000;">2430038</span>
                        </p>
                    </li>
                    <li><span style="color:#e83421;font-weight:bold;">School Code No.-</span> <span><b>15588</b></span></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-8" style="display: flex;justify-content: center;align-items: center;">
            <div class="header-box-p ml-2">
                <p style="padding-left: 0vw;margin-top: 10px;">
                    <span style="color: #e83421;font-weight: bold;"> MISSION STATEMENT :</span> "Education is that which helps one to acquire knowledge
                    culture righteousness, self control and like virtues and eradicates ignorance
                    and evil habits" D.A.V. Public School, Kolkata endeavours to help every child
                    imbibe the basic values of life, respect ancient vedic thought and culture and to attain
                    an all round balanced and harmonious development of personality and latent talents.
                </p>
            </div>
        </div>
    </div>
</header>
<!-- Navbar -->
<nav class="navbar navbar-expand-md">
    <div class="navbar-dav">
        <a href="#" class="closebtn"></a>
        <ul class="highlight_nav">
            <li><a class="active" href="/Home.html"><i class="fa fa-home" aria-hidden="true" style="font-size: 16px !important;"></i></a></li>
            <li>
                <a href="javascript:void(0)" data-toggle="dropdown" class="our_school_show">OUR SCHOOL<i class="fa fa-caret-down first_caret"></i></a>
                <ul class="dropdown">
                    <li class="nav-item"><a href="/AboutDav.html" class="nav-link">About DAV</a></li>
                    <li class="nav-item"><a href="/VisionAndMission.html" class="nav-link">Vision and Mission</a></li>
                    <li class="nav-item"><a href="/Admission.html" class="nav-link">Admission</a></li>
                    <li class="nav-item"><a href="/Infrastructure.html" class="nav-link">Infrastructure</a></li>
                    <li class="nav-item"><a href="/Principals.html" class="nav-link">Principal's Desk</a></li>
                    <li class="nav-item"><a href="/Transfer-Certificate.html" class="nav-link">Transfer Certificate</a></li>
                </ul>
            </li>
            <li><a href="/Mandatory-Disclosure.html">MANDATORY DISCLOSURE</a></li>
            <li>
                <a href="javascript:void(0)" data-toggle="dropdown" class="gallery_info">GALLERY<i class="fa fa-caret-down second_caret"></i></a>
                <ul class="dropdown_1">
                    <li class="nav-item"><a href="/Photo-Gallery.html" class="nav-link">Photo Gallery</a></li>
                    <li class="nav-item"><a href="/Video-Gallery.html" class="nav-link">Video Gallery</a></li>
                    <li class="nav-item"><a href="/Archive-Photo.html" class="nav-link">Archived Photo</a></li>
                    <li class="nav-item"><a href="/Archive-Video.html" class="nav-link">Archived Video</a></li>
                </ul>
            </li>
            <li><a href="/Facility.html">FACILITIES</a></li>
            <li><a href="/Notice-Board.html">NOTICE BOARD</a></li>
            <li><a href="/Contact.html">CONTACT</a></li>
            <li><a href="/Site-map.html">SITE MAP</a></li>
            <li><a href="/Dav-Login.html">LOGIN</a></li>
        </ul>
    </div>
    <div class="nav-bg-dav">
        <div class="navbar-dav-public"> <span></span> <span></span> <span></span> </div>
    </div>
</nav>
<!-- Navbar end-->
