<!-- Header -->
<header>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-xl-4 head-col topleft_logo">
            <div class="dav-logo ml-md-3">
                <a href="/Home.html">
                    <img src="/assets/images/Dav-Logo1_.png" style="max-width: 95%;">
                </a>

                <ul class="txt-davLogo">
                    <li>
                        <h4 style="margin-bottom: 7px;">D.A.V. Public School</h4>
                    </li>
                    <li>
                        <span><b>61, Diamond Harbour Road, Kolkata - 700038.</b></span>
                    </li>
                    <li>
                        <span><b>Email - davcal61@yahoo.co.in</b></span>
                    </li>
                    <li>
                        <p class="m-0">
                            <span style="color:#e83421;font-weight:bold;">Affiliation No.-</span> <span style="font-weight:bold;color:#000;">2430038</span>
                        </p>
                    </li>
                    <li><span style="color:#e83421;font-weight:bold;">School Code No.-</span> <span><b>15588</b></span></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-xl-8 adminpanel">
            <div class="header-box-p ml-4">
                <strong style="font-size:44px;">Welcome To Admin Panel</strong>
            </div>
        </div>
    </div>
</header>
<!-- Navbar start-->
<nav class="navbar navbar-expand-md">
    <div class="navbar-dav">
        <ul>
            <li><a class="active" href="/Dav-Dashboard.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li>
                <a href="javascript:void(0)">PHOTO GALLERY<i class="fa fa-caret-down first_caret" aria-hidden="true"></i></a>
                <ul class="dropdown">
                    <li><a href="/Admin-Photo-Gallery/Admin-Add-Photo-Gallery.html">Add Photo Gallery</a></li>
                    <li><a href="/Admin-Photo-Gallery/Admin-View-Photo-Gallery.html">View Photo Gallery</a></li>
                    <li><a href="/Admin-Photo-Gallery/Admin-Archieved-Photo-Gallery.html">View Archived Photo</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">VIDEO GALLERY<i class="fa fa-caret-down first_caret" aria-hidden="true"></i></a>
                <ul class="dropdown">
                    <li><a href="/Admin-Video-Gallery/Admin-Add-Video-Gallery.html">Add Video Gallery</a></li>
                    <li><a href="/Admin-Video-Gallery/Admin-View-Video-Gallery.html">View Video Gallery</a></li>
                    <li><a href="/Admin-Video-Gallery/Admin-Archieved-Video-Gallery.html">View Archived Video</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">NOTICE BOARD CONTROL<i class="fa fa-caret-down first_caret" aria-hidden="true"></i></a>
                <ul class="dropdown">
                    <li><a href="/Admin-Notice-Board/Admin-Add-Notice-Board.html">Add Notice Board</a></li>
                    <li><a href="/Admin-Notice-Board/Admin-View-Notice-Board.html">View Notice Board</a></li>
                    <li><a href="/Admin-Notice-Board/Admin-Archieve-Notice-Board.html">View Archived Details</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">TC. CONTROL<i class="fa fa-caret-down first_caret" aria-hidden="true"></i></a>
                <ul class="dropdown">
                    <li><a href="/Admin-TC-Control/Admin-Add-Transfer-Certificate.html">Add Transfer Certificate</a></li>
                    <li><a href="/Admin-TC-Control/Admin-View-Transfer-Certificate.html">View Transfer Certificate</a></li>
                    <li><a href="/Admin-TC-Control/Admin-Archieved-Transfer-Certificate.html">View Archived Details</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">MANDATORY DISCLOSURE<i class="fa fa-caret-down first_caret" aria-hidden="true"></i></a>
                <ul class="dropdown">
                    <li><a href="/Admin-Mandatory-Disclosure/Admin-Add-Document.html">Add Document Details</a></li>
                    <li><a href="/Admin-Mandatory-Disclosure/Admin-View-Document.html">View Document Details</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)" id="adminLogout">LOGOUT</a></li>
        </ul>
    </div>
    <div class="nav-bg-dav">
        <div class="navbar-dav-public"> <span></span> <span></span> <span></span> </div>
    </div>
</nav>
<!-- Navbar end-->
